* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  --font-blue-active: rgba(52, 122, 226, 1);
  --font-blue-inactive: rgba(124, 141, 181, 1);
  --font-blue-inactive-spread: rgba(124, 141, 181, 0.12);
  --border: rgba(230, 237, 255, 1);
  --font-red: #ff3b30;
  --grey: rgba(42, 46, 51, 1);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background: radial-gradient(circle, #d71ce7 0%, #6c4e6e 55%);
}

/*Gere le Loading*/
/*--------------*/

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #0009;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading.hidden {
  display: none;
}

.loading .load {
  height: 55px;
  transform: translateY(-10%);
  position: relative;
}

.loading .load div:nth-child(1) {
  position: absolute;
  left: -55px;
  width: 55px;
  height: 55px;
  border: 4px solid white;
  background: #6c4e6e;
  animation: move1 1.5s infinite;
  border-radius: 50%;
}

.loading .load div:nth-child(2) {
  position: absolute;
  left: 0;
  width: 55px;
  height: 55px;
  background: white;
  animation: move2 1.5s infinite;
  border-radius: 50%;
}
@keyframes move1 {
  50% {
    left: 0;
    z-index: 0;
  }
  51% {
    z-index: 2;
  }
  100% {
    left: -55px;
    z-index: 2;
  }
}

@keyframes move2 {
  50% {
    left: -55px;
  }
  100% {
    left: 0;
  }
}
/*Gere les popup */
/*----------------*/
.pop {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 20%;
  z-index: 5;
  height: 150px;
  background: #0000;
}

.popup {
  width: 87%;
  height: 110px;
  border-radius: 6px;
  background: white;
  padding: 0.5em;
  box-shadow: 0px 0px 3px 2px #0001;
  animation: scaleTransformation 500ms ease-in-out;
}
.close{
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
}

.type{
  padding-top: 7px;
}

.type p{
  width: 80%;
  margin: auto;
}

.type p:first-child{
  color: #ff3b30;
}

.type p:last-child{
  padding-top: 6px;
  text-align: right;
  transform: translateX(7px);
  font-size: 12px;
}

@keyframes scaleTransformation {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes scaleDetransformation {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

/*----------------*/

/*--------------*/

.body {
  background: transparent;
}

.body .sidebar {
  background: radial-gradient(circle, #6c4e6e 0%, #6c4e6e 55%);
}
.body .home {
  background: radial-gradient(circle, #d71ce7 0%, #6c4e6e 85%);
}

.sidebar {
  width: 20%;
  height: 100%;
  padding: 3em 0 1em;
}

.title {
  display: flex;
  justify-content: flex-start;
  gap: 0.2em;
  padding-left: 25%;
  font-size: 20px;
  align-items: center;
}
.title p {
  padding-bottom: 0.15em;
  color: white;
}

.sub-sidebar {
  margin-top: 1em;
  padding: 2em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  border-right: 1px solid var(--border);
}

.choice-tab {
  width: 100%;
  overflow: hidden;
}

.choice-child {
  width: 100%;
  padding-left: 25%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  color: white;
  background: transparent;
  margin-bottom: 1.5em;
  cursor: pointer;
  transition: 500ms all;
}
.choice-child:last-child {
  margin-bottom: 0;
}
.choice-child svg {
  transition: 500ms all;
}
.choice-child svg path {
  fill: white;
}

.option-child svg path {
  fill: white;
}

.choice-child.active {
  color: var(--font-blue-active);
}

.choice-child.active svg path {
  fill: var(--font-blue-active);
}

.choice-child span {
  font-size: 16px;
}
.choice-child::before {
  content: "";
  position: absolute;
  right: -1em;
  transition: 500ms all;
  width: 4px;
  border-radius: 5px;
  height: 80%;
  background: var(--font-blue-inactive);
}

.choice-child.active::before {
  right: -0.5px;
  background: var(--font-blue-active);
}

.option-child {
  width: 100%;
  padding-left: 25%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  color: white;
  background: transparent;
  margin-bottom: 1.3em;
  cursor: pointer;
  transition: 500ms all;
}

.option-child:last-child {
  color: var(--font-red);
}
.option-child:last-child svg path {
  fill: var(--font-red);
}
.option-child:first-child span:last-child {
  padding-bottom: 0.2em;
}

.option-child span {
  font-size: 16px;
}

.home {
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  padding-top: 3em;
}
.home::-webkit-scrollbar {
  width: 9px;
}
.home::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: transparent;
}
.home:hover::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.35);
}

header {
  padding: 0 2em;
  display: flex;
  align-items: flex-start;
  color: white;
  justify-content: space-between;
}

header p span {
  display: block;
}

header p span:first-child {
  font-size: 28px;
}

header p span:last-child {
  font-size: 16px;
  color: var(--font-blue-inactive);
}

header .right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.85em;
}

.right button {
  font-size: 15px;
  color: white;
  padding: 0.65em 2em;
  margin-right: 0.5em;
  transform: translateY(-2px);
  border-radius: 4px;
  cursor: pointer;
  background: var(--font-blue-active);
}

header .right .user {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-3px);
  gap: 0.4em;
}

header .right .user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

header .right p {
  font-size: 16px;
  cursor: pointer;
}

.d {
  width: 100%;
  display: flex;
  justify-content: center;
}

.details {
  min-width: 70%;
  height: 9em;
  margin: 2em auto 1.5em;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--border);
  padding: 1.4em 1.5em;
  background: white;
}

.details-card {
  border-right: 1px solid var(--border);
  background: white;
  padding: 0 5%;
}

.details-card:nth-child(2) {
  padding: 0 6% 0 5%;
}

.details-card:nth-child(3) {
  border: none;
  padding: 0 6% 0 5.5%;
}

.details-card .details-value span:first-child {
  font-size: 28px;
  margin-right: 2em;
  font-weight: 600;
  color: #000c;
}

.details-card .details-time {
  padding-top: 0.5em;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--font-blue-inactive);
}

.details-card .details-time span:first-child svg {
  transform: translateY(2px);
  margin-right: 4px;
}

.details-card .details-time span:last-child {
  margin-left: 8px;
}

/*--------------------------------------------*/
/*Permet de gerer les graphes */

.graphs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  padding: 0 2em;
}

.chart {
  width: 65%;
  height: 350px;
  position: relative;
  padding: 0.95em 1.25em 1.25em;
  border: 1px solid var(--border);
  border-radius: 12px;
  background: white;
}

.chart .title {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  color: #000c;
  top: 0.75em;
  left: -7em;
}

.selectChart {
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 0.95em;
  right: 1.5em;
  box-shadow: 0 2px 12px 1px var(--font-blue-inactive-spread);
}

.selectChart .select1 {
  appearance: none;
  display: block;
  padding: 0.6em 1em;
  cursor: pointer;
  width: 100px;
}

.selectChart .select1 option {
  margin: 0.5em 0;
}

.selectChart svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.bar {
  width: 35%;
  height: 350px;
  border: 1px solid var(--border);
  border-radius: 12px;
  background: white;
}

.bar-top {
  width: 100%;
  height: 4em;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  padding: 0 1em;
  gap: 2em;
}

.bar-button {
  display: flex;
  height: 2.6em;
  border-radius: 4px;
  border: 1px solid var(--border);
  background: white;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  gap: 1em;
  color: var(--grey);
  cursor: pointer;
}

.bar-top .bar-button:first-child span {
  padding-right: 1.1em;
}

.bar-bottom {
  width: 100%;
  height: 270px;
  padding: 1.5em 0.1em 1em;
}

/*--------------------------------------------*/

.anomalies {
  width: 100%;
  padding: 1em 2em;
}

.anomalies-tab {
  border: 1px solid var(--border);
  border-radius: 12px;
  width: 100%;
  background: white;
}

.anomalies-tab {
  padding-bottom: 1em;
}

.anomalies-tab .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

.anomalies-tab .head p {
  font-size: 20px;
  font-weight: 600;
  color: #000c;
}

.anomalies-tab .head .but-style {
  padding: 0.25em 1em;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-shadow: 0 2px 10px 0 var(--font-blue-inactive-spread);
  background: white;
}

.select {
  width: 90px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 12px 1px var(--font-blue-inactive-spread);
}

.select .select1 {
  appearance: none;
  display: block;
  padding: 0.6em 1em;
  cursor: pointer;
  width: 90px;
}

.select .select1 option {
  margin: 0.5em 0;
}

.select svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.anomalies-tab .head .but-style span:first-child {
  padding-bottom: 0.15em;
}

.table {
  padding: 1em 2em;
  padding-top: 1.25em;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
.table::-webkit-scrollbar {
  width: 9px;
}
.table::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: transparent;
}
.table:hover::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.35);
}

.table table {
  width: 100%;
}

table th {
  padding: 1em 0;
  font-size: 1em;
  font-weight: 500;
  color: var(--primary-color);
  border-bottom: 1px solid var(--border);
}

table td {
  padding: 1em 0;
  font-size: 0.85em;
  color: var(--primary-color);
  border-bottom: 1px solid var(--border);
  text-align: center;
}

table tr:last-child td {
  border-bottom: none;
}

/*-----------------------------------------------*/

.graph {
  width: 100%;
  display: flex;
  padding: 0 1.5em;
  margin-bottom: 2em;
  gap: 1em;
  justify-content: space-between;
  align-items: start;
}

.graph .left {
  padding-top: 2em;
  width: 65%;
}

.graph .left .chart {
  width: 100%;
}

.graph .left .chart:last-child {
  margin-top: 1.5em;
}

.graph .right {
  padding-top: 2em;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.graph .right .details-card {
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1.75em 3em;
}

/*Gestion du home Page*/
/*------------------------------------------------*/

.prediction {
  width: 100%;
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prediction img {
  width: 30%;
}

.prediction p {
  width: 50%;
  text-align: justify;
  margin-top: 0.5em;
  font-size: 15px;
  color: #fffc;
}
